@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;600&display=swap');

body {
    font-family: 'SF Pro Display', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 75%;
    max-width: 1000px;
    text-align: center;
    padding: 20px 0;
    background: white;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.container {
    width: 75%;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px  auto;
    flex-direction: column;
    overflow-x: auto; /* Permite el desplazamiento horizontal si el contenido es demasiado ancho */
}

.container > * {
    flex: 1;
}

header, .container {
    box-sizing: border-box;
}

h1 {
    margin: 10px 0;
}

nav {
    background: white;
    padding: 10px;
}
.menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.menu li {
    padding: 15px;
    text-align: center;
}
.menu li a {
    text-decoration: none;
    color: black;
    display: block;
}
.menu li:hover {
    background: #f4f4f4;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}
.hamburger div {
    width: 30px;
    height: 4px;
    background: black;
    margin: 5px 0;
}
.day-header {
    color: #d0021b;
    font-weight: 800;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.gato-header {
    color: #6426009a;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
#contratos-activos {
    max-width: 600px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

 .contrato {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
} 
/*.contrato {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}*/

.contrato-content {
    display: flex;
    align-items: center;
    gap: 15px; /* Espacio entre la imagen y el contenido */
}

.contrato-foto {
    flex-shrink: 0; /* Evita que la imagen se reduzca demasiado */
    width: 100px; /* Ajusta el tamaño según lo necesites */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px; /* Bordes redondeados */
    background-color: #f5f5f5; /* Color de fondo si no hay imagen */
}

.contrato-foto img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Mantiene la proporción sin distorsión */
    border-radius: 10px;
}

.detalles {
    display: flex;
    flex-direction: column;
}


.animales {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.detalles {
    padding-left: 20px;  /* Desplaza los detalles hacia la derecha */
}

.detalles p {
    margin: 2px 0;
    font-size: 14px;
    color: #555;
}
@media (max-width: 768px) {

    header, .container {
        box-sizing: border-box;
    }
    
    .container {
        width: 90%;
        min-width: 90%; /* Asegura que siempre tenga al menos el 90% */
        padding: 15px;
        display: block; /* Asegura que se comporte como un bloque */
    }
    header {
        padding: 15px 0;
        width: 90%;
        min-width: 90%; /* Asegura que siempre tenga al menos el 90% */
    }
    h1 {
        font-size: 24px;
    }
    .menu {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: white;
        width: 95%;
        max-width: 400px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .menu.show {
        display: flex;
    }
    .day-header {
        color: #d0021b;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    #contratos-activos {
        max-width: 600px;
        margin: 20px auto;
        font-family: Arial, sans-serif;
    }
    
    .contrato {
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 8px;
        background: #f9f9f9;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .animales {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .detalles {
        padding-left: 20px;  /* Desplaza los detalles hacia la derecha */
    }
   
    .detalles p {
        margin: 2px 0;
        font-size: 14px;
        color: #555;
    }
   
}