@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;600&display=swap');

body {
    font-family: 'SF Pro Display', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 75%;
    max-width: 1000px;
    background: white;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0;
}
.menu li {
    padding: 10px;
    text-align: center;
}
.menu li a {
    text-decoration: none;
    color: black;
    display: block;
}
.menu li:hover {
    background: #f4f4f4;
}

.usuario {
    font-weight: bold;
    color: #333;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}
.hamburger div {
    width: 30px;
    height: 4px;
    background: black;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: white;
        width: 95%;
        max-width: 400px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    .hamburger {
        display: flex;
    }
    .menu.show {
        display: flex;
    }
    header {
        flex-direction: row;
        padding: 10px 15px;
    }
    
    .contrato {
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 8px;
        background: #f9f9f9;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .animales {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .detalles {
        padding-left: 20px;  /* Desplaza los detalles hacia la derecha */
    }
   
    .detalles p {
        margin: 2px 0;
        font-size: 14px;
        color: #555;
    }
}
