{% extends "base.html" %}

{% block title %}Dashboard - Sitters with Love{% endblock %}

{% block content %}
    <div class="dashboard-actions">
        <button type="button" id="btn-nuevo-contrato-dashboard" class="btn-principal">Nuevo contrato</button>
    </div>
    <h2 id="cabecera" class="day-header"></h2>
    <div id="contratos-programados"></div>
    <div id="contratos-activos"></div>
    <div id="muestra-contrato"></div>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
